.composition{
    position: relative;

    &__photo{
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2px;
        position: absolute;
        transition: all .2s;
        outline-offset: 1rem;
        &--p1{
            left: 0;
            top: -2rem;
        }
        &--p2{
            right: 0;
            top: 2rem;
        }
        &--p3{
            left: 20%;
            top: 10rem;
        }
        &:hover{
            transform: scale(1.05) translateY(-3px);
            box-shadow:0 2.5rem 4rem rgba($color-black, .5); 
            z-index: 5;
            outline: .5rem solid $color-primary;
        }
    }
    &:hover &__photo:not(:hover){
        transform: scale(0.9);
        border-radius: 0;
    }
}

