.feature-box{
    background-color: rgba($color-white, 0.8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    &__icon{
        font-size: 6rem;
        margin-bottom: 1rem;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark); ;
        color: transparent;
        -webkit-background-clip: text;
    }
    &:hover{
        transform: translateY(-1.3rem) scale(1.03);
    }
}