.form{
    &__group:not(:last-child){
       margin-bottom: 2rem; 
    }
    &__input{
        font-family: inherit;
        font-size: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        color: inherit;
        background-color: rgba($color-white, .5);
        border: none;
        display: block;
        width: 90%;
        border-bottom: 3px solid transparent;
        transition: all .3s;
        &:focus{
            outline: none;
            box-sizing: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
            background-color: $color-white;
            &:invalid{
                border-bottom: 3px solid $color-secondary-dark;
            }
        }
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }
   
   &__radio-input{
       display: none;
   }
    &__label{
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }
    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
    &__radio-group{
        display: inline-block;
        width: 48%;
    }
    &__radio-label{
        cursor: pointer;
        font-size: $default-font-size;
        position: relative;
        padding-left: 4.5rem;
    }
    &__radio-btn{
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius: 50%;
        display: inline-block;
        position: absolute;
        top: -0.5rem;
        left: 0;

        &::after{
            content: "";
            display: block;
            height: 1.3rem;
            width: 1.3rem;
            border-radius: 50%;
            position: absolute;
            background-color: $color-primary;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s;

        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-btn::after{
        opacity: 1;

    }
}