.u-center-text{
    text-align: center;
}

.u-margin-bottom-big{
    margin-bottom: 8em;
}

.u-margin-bottom-medium{
    margin-bottom: 4em !important; 
}

.u-margin-bottom-small{
    margin-bottom: 1em !important;
}

.u-margin-top-big{
    margin-top: 8em;
}

.u-margin-top-huge{
    margin-top: 10em;
}